 <h2>User info</h2>
      <% if user.image.attached? %>
        <%= image_tag user.image, size:"100×100" %>
      <% else %>
        <%= image_tag 'default-image', size: "100×100" %>
      <% end %>
      <table class="table">
        <tbody>
        <tr></tr>
        <tr>
          <th>name</th>
          <th><%= user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= user.introduction %></th>
        </tr>
        </tbody>
      </table>
      <div class="row">
        <%= link_to "edit", edit_user_path(current_user.id) %>
          <i class="fas fa-user-cog"></i>
        </a>
      </div>